<!DOCTYPE html>
<!--[if lt IE 9]>      <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ _("Your title here") }}{% endblock title %}</title>

        {%- block head -%}
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('_themes.static', themeid='default', filename="images/apple-touch-icon-114x114.png") }}" />
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('_themes.static', themeid='default', filename="images/apple-touch-icon-72x72.png") }}" />
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('_themes.static', themeid='default', filename="images/apple-touch-icon-57x57.png") }}" />

        <!-- Favicons: -->
        <link rel="shortcut icon" href="{{ url_for('_themes.static', themeid='default', filename="images/favicon.ico") }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('_themes.static', themeid='default', filename="images/favicon.ico") }}" type="image/x-icon">
        {%- endblock head -%}
    </head>
    <body>
        <a name="top"></a>

        {% assets "default_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        {% assets "default_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <!-- begin theme_assets //-->

        {% block theme_assets %}
        {% endblock theme_assets %}

        <!-- end theme_assets //-->

        <br clear="all">
        <hr>
        <div>{{ _("Time to execute:") }} __EXECUTION_TIME__</div>
    </body>
</html>


